/* CSS Document */

body {background-color:#000; font-family: 'Allerta', arial, serif; margin:0; padding:0;}

#container {width:960px; margin:auto;}
#page {width:920px; float:left; background:#fff; padding:0 20px;}

#topnav ul {margin:15px 0; padding:0; list-style-type:none;}
#topnav li {display:inline; padding:0 10px; margin:0 10px 0 0;}
#topnav a {color:#000; text-decoration:none; text-transform:uppercase; font-size:15px; font-weight:normal;}

#headerimage {margin:0 0 20px 0;}

#content {width:576px; padding:0 20px; margin:0 20px 0 0; float:left; font-family:Arial, Helvetica, sans-serif;}
#content h1 {margin:0 -20px; padding:5px 20px; background-color:#e5ba33; font-size:18pt;}
#content h2 {color:#8e6c00; font-size:17pt;}
#content p, #rightcol p, #content li {margin-top:2px; padding-top:0; font-size:90%; line-height:150%;}

#rightcol {width:282px; margin:0; padding:0; float:left; font-family:Arial, Helvetica, sans-serif;}
#rightcol h2 {margin:0 -20px; padding:5px 20px; background-color:#e5ba33; font-size:15pt;}
#rightcol .item {background:#f2f2f2;  padding:0 20px 10px 20px; margin:0 0 20px 0;}

#content a, #rightcol a {color:#8e6c00;}
#content a:hover, #rightcol a:hover {color:#e5ba33;}

#footer {padding:0; margin:10px;}
#footer p {color:#FFF; font-size:65%; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; text-align:center;}
#footer a {color:#fff; text-decoration:none;}

/* Page Specific: */
#content ul.sponsors {margin:0; padding:0; list-style-type:none; text-align: center;}
