<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/weizguys.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="row header">
  <div class="medium-9 columns"><img src="/images/header.jpg" alt="Weiz Guys" /></div>
  <div class="medium-3 columns"><img src="/images/weiz-guys-logo.jpg" alt="Weiz Guys Logo" /></div>
</div>
<div class="row page">
  <div class="small-12 columns">
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/revenge">Sweethearts Revenge!</a></li>
        <li><a href="https://www.facebook.com/WeizGuys">Facebook Group</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/weiz-guys-homebrew-club">Google Group</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
      </ul>
  </div>

  <div class="small-12 columns">
    <img src="/images/photo.jpg" alt="Grains" class="header-image"  />
  </div>
  <div class="medium-8 columns">

    {{ content }}

  </div>
  <div class="medium-4 columns sidecol">
    <div class="item">
      <h2>Sweethearts Revenge Homebrew Competition</h2>
      <a href="/revenge">
        <img src="/images/sweethearts-poster.jpg" alt="Sweetheart's Poster" />
      </a>
    </div>
    <div class="item">
        <h2>Connect</h2>
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/WeizGuys">Tweets by WeizGuys</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <ul>
          <li><a href="https://www.facebook.com/WeizGuys">Join our Facebook Page</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/weiz-guys-homebrew-club">Join our Google Group for Updates</a></li>
        </ul>
      </div>
      {% include resources.html %}
  </div>
</div>

<div class="row footer">
  <div class="small-12 columns">
    <p>(C) 2016 Weizguys Homebrew Club, an AHA Member </p>
  </div>
</div>

</body>
</html>
