<!DOCTYPE html>
<html>
<head>
  <title>WeizGuys - Loveland Homebrew Club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/weizguys.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="container">
  <div id="header"><img src="/images/header.jpg" alt="Weiz Guys" /></div>
  <div id="page">
    <div id="topnav">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li><a href="/revenge">Sweethearts Revenge!</a></li>
        <li><a href="https://www.facebook.com/WeizGuys">Facebook Group</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/weiz-guys-homebrew-club">Google Group</a></li>
        <li class="sponsors"><a href="/sponsors.php">Sponsors</a></li>
      </ul>
    </div>
    <div id="headerimage">
      <div id="slideshow">
        <img src="/images/photo.jpg" alt="Grains" width="919" height="232" />
      </div>
    </div>
    <div id="content">{{ content }}</div>
    <div id="rightcol">
      <div class="item">
        <h2>Connect</h2>
        <ul>
          <li><a href="https://www.facebook.com/WeizGuys">Join our Facebook Page</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/weiz-guys-homebrew-club">Join our Google Group for Updates</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <p>(C) 2015 Weizguys Homebrew Club, an AHA Member </p>
  </div>
</div>

</body>
</html>